# Default ignored files
/../../Feedbackfolketingets /.idea/shelf/
/../../Feedbackfolketingets /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Feedbackfolketingets /.idea/httpRequests/
